<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Paint Wars</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="0.5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <screen_size> value="1" </screen_size>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entities>
  </entities>
  <audio>
    <Volume></Volume>
    <Music>

    </Music>
    <Fx>
  
    </Fx>
  </audio>
  <gui>

  </gui>

  

</config>