@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300;400;700&family=Encode+Sans:wght@900&display=swap");

body {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  margin: 0;
  background-image: url(img/background.svg);
  /*min-height:100%; padding:0; margin:0; position:relative;*/
}

/*menu*/
.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  list-style-type: none;
  background-image: url(img/mesh.svg);
  background-size: 100%;
  font-size: 1.8rem;
  margin: 0;
}

.main-menu li {
  margin: 0.5em 0.75em;
  position: relative;
  display: inline-block;
}

.main-menu .selected {
  border-bottom: 2px solid white;
  font-weight: 700;
}

.main-menu li a {
  color: pink;
  text-decoration: none;
  border-radius: 5px;
}

.main-menu li a:hover {
  color: white;
  text-decoration: none;
  background: rgba(130, 36, 173, 0.46);
}

.spacer {
  flex: 1;
}

#kodiro {
  /*this would be a logo as well, but for now I putted it as a text */
  font-family: "Encode Sans";
  font-style: italic;
  color: white;
  font-size: 26pt;
}

#icon img {
  width: 50px;
  margin: 0;
  padding: 0;
}

/*Submenu*/
nav .submenu {
  position: absolute;
  background-color: #333333;
  width: max-content;
  display: none;
}

.main-menu li:hover .submenu {
  display: flex;
  flex-direction: column;
}

/*main*/
.main #main_title {
  font-family: "Encode Sans";
  font-style: italic;
  color: pink;
  font-size: 100pt;
  text-align: center;
  padding-top: 15rem;
}

.main #motto {
  font-family: "Encode Sans";
  font-style: italic;
  color: pink;
  font-size: 38pt;
  text-align: center;
  padding-bottom: 15rem;
}

/*Content*/

div.content {
  width: 85%;
  margin: 4rem auto;
  border: 5px solid black;
  border-radius: 10px;
  background: rgb(110, 13, 110);
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
}

.content p {
  color: white;
  font-size: 20pt;
}

.content h1 {
  color: pink;
  font-size: 30pt;
  text-align: center;
  border-bottom: 3px solid purple;
}

.content h2 {
  color: pink;
  font-size: 25pt;
}

.content a {
  color: pink;
}

/* About*/
.members{
  width: 85%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;  
  margin: 0 auto;
}

.members article{
  margin: 4rem;
  border: 5px solid black;
  border-radius: 10px;
  text-align: left;
}

.members article img{
  margin:0 1rem;
  width: 300px;
  height: 200px;
}
.members article h1{
  margin-left: 1rem;
}
.members article p{
  margin:10 1rem;
}


#member1{
  background-color: #5ec5eb;
}

#member2{
  background-color: #e5304f;
}

#member3{
  background-color:	#ee744b;
}
/*Contact*/
.contact {
  width: 85%;
  margin: 2rem auto;
  padding-bottom: 2.5rem;
}

.contact h2 {
  margin: 8rem 0;
  color: pink;
  font-size: 25pt;
  text-align: center;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mail {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.contact img {
  width: 125px;
  align-content: center;
}

.caption {
  margin-top: 1rem;
  color: pink;
  text-align: center;
  margin-left: 2px;
}

#mail label {
  color: pink;
}
#message {
  resize: none;
}

#mail textarea {
  font-family: "Encode Sans Semi Expanded";
  border: 2px solid rgb(150, 17, 150);
}

#mail button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}

input[type="text"] {
  background: white;
  border: 2px solid rgb(150, 17, 150);
  color: white;
  font-family: "Encode Sans Semi Expanded";
}

/*footer*/
.footer {
  background: rgba(77, 7, 77, 0.8);
  text-align: center;
  color: rgb(167, 32, 167);
  margin-top: 2.5rem;
  width: 100%;
  height: 2.5rem;
}

.footer a {
  color: rgb(221, 73, 196);
}

/*
#selected {
  font-weight: 700;
  border-bottom: 1px solid white ;
  color:white;
}
*/
